body {
    background-image: linear-gradient(to bottom, aquamarine, white);
    height: 100vh; 
    margin: 0;
}


.section-rules {
    width: 40%;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f9f9f9;
}

.button-container {
    text-align: center;
    margin-top: 10px;
}


.dice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.dice {
    width:80px;
    height:80px;
    position: relative;
    background-color: white;
    border: black 1px solid;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.dice.dot {
    --top: 0%;
    --left: 0%;
    
    width: 15px;
    height: 15px;
    background-color:black;
    border-radius: 50%;

    /* dot positioning */
position: absolute;
top: var(--top);
left: var(--left);
transform: translateX(calc(var(--left) *-1)) translateY (calc(var(--top) *-1));

}



.btn-roll-dice {
    margin-top:10px;
}