body {
    background-image: linear-gradient(to bottom, aquamarine, white);
    height: 100vh; 
    margin: 0;
}

.dice-total {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    font-size: 24px;
    width: 125px;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f9f9f9;
}

#roll-again-alert {
    width: 30%;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f0b1b1;
    color: #850000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#success-alert {
    width: 30%;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid green;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d4edda;
    color: #155724;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    text-align: center;
}

.section-rules {
    width: 400px;
    margin: 20px auto;
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #f9f9f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.45);
}

.button-container {
    text-align: center;
    margin-top: 10px;
}


.dice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.dice {
    width:80px;
    height:80px;
    position: relative;
    background-color: white;
    border: black 1px solid;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.dice-dot {
    --top: 0%;
    --left: 0%;
    
    width: 15px;
    height: 15px;
    background-color:black;
    border-radius: 50%;

    /* dot positioning */
position: absolute;
top: var(--top);
left: var(--left);
transform: translateX(calc(var(--left) * -1)) translateY(calc(var(--top) * -1));

}

    

.btn-roll-dice {
    margin-top:10px;
}